<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Shuwachii's Commission Website!">
        <meta name="keywords" content="Shuwachii, Commission, Art">
        <meta name="author" content="Lawrence Zhou">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuwachii</title>

        <link href="css/reset.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/icons.css" rel="stylesheet">
        <link href="css/jquery-sakura.css" rel="stylesheet" type="text/css">       
        <link href="favicon.ico" rel="icon">
        <script src="https://kit.fontawesome.com/1585077bc9.js" crossorigin="anonymous"></script>


        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Shuwachii">
        <meta name="twitter:description" content="Shuwachii's Commission Website!">
        <meta name="twitter:image" contnet="">
    </head>
    <body>
        <div class="flex_container">

            <header class="header">
                <img src="images/signature_withoutbg.png" class="brand-title">
                <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="tos">TOS</a></li>
                </ul>
            </header>
            
            <div class="container">
                <div class="main-body">
                    <p id="valentines">ハッピーバレンタイン</p>
                    <img id="hota" src="images/hota.png">
                </div>
            </div>

            <footer class="footer">
                <p class="icons">
                    <a href="https://www.twitter.com/shuwachii"><i id="icon-twitter" class="fab fa-twitter icon fa-lg"></i></a>
                    <a href="https://www.instagram.com/shuwachii"><i id="icon-instagram" class="fab fa-instagram icon fa-lg"></i></a>
                    <a href="https://www.facebook.com/shuwachii"><i id="icon-facebook" class="fab fa-facebook icon fa-lg"></i></a>
                    <a href="https://twitch.tv/shuwachii"><i id="icon-twitch" class="fab fa-twitch icon fa-lg"></i></a>
                    <span class="footerCopyright">&copy Shuwachii</span>
                </p>
            </footer>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/jquery-sakura.min.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>