<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Shuwachii's Commission Website!">
        <meta name="keywords" content="Shuwachii, Commission, Art">
        <meta name="author" content="Lawrence Zhou">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuwachii</title>

        <link href="js/style.css" rel="stylesheet">
        <link href="favicon.ico" rel="icon"> // Ask Shuwachii for favicon

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Shuwachii">
        <meta name="twitter:description" content="Shuwachii's Commission Website!">
        <meta name="twitter:image" contnet=""> // Ask Shuwachii for image
    </head>
    <body>

    </body>

</html>