<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Shuwachii's Commission Website!">
        <meta name="keywords" content="Shuwachii, Commission, Art">
        <meta name="author" content="Lawrence Zhou">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shuwachii</title>

        <link href="css/reset.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href="css/icons.css" rel="stylesheet">
        <link href="css/jquery-sakura.css" rel="stylesheet" type="text/css">       
        <link href="favicon.ico" rel="icon">
        <script src="https://kit.fontawesome.com/1585077bc9.js" crossorigin="anonymous"></script>


        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Shuwachii">
        <meta name="twitter:description" content="Shuwachii's Commission Website!">
        <meta name="twitter:image" contnet="">
    </head>
    <body>

        <div class="flex_container">

            <header class="header">
                <img src="images/signature_withoutbg.png" class="brand-title">
                <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="tos">TOS</a></li>
                </ul>
            </header>
            
            <div class="container">
                <div class="tos">
                    <div class="box">
                        <h1>Terms of service</h1>
                        <p>
                            <ul class="commission-ul">
                                <li>Commissions may take up to a month.</li>
                                <li>Please be patient with me. I will DM you for any updates on your commission.</li>
                                <li>I will only accept PayPal as payment, and only start once the payment has been confirmed.
                                    <ul>
                                        <li>Refunds are not available.</li>
                                        <li>If you are in the Philippines, GCash or other payment methods are also accepted.</li>
                                    </ul>
                                </li>
                                <li>Do not repost your commissions as your own created art.</li>
                                <li>If you want to commission me, you can do so on the following one of the icons down below!</li>
                            </ul>
                        </p>
                        <p class="icons">
                            <a href="https://www.twitter.com/shuwachii"><i id="icon-twitter" class="fab fa-twitter icon fa-lg"></i></a>
                            <a href="https://www.instagram.com/shuwachii"><i id="icon-instagram" class="fab fa-instagram icon fa-lg"></i></a>
                            <a href="https://www.facebook.com/shuwachii"><i id="icon-facebook" class="fab fa-facebook icon fa-lg"></i></a>
                        </p>
                    </div>
                    <div class="box">
                        <h1>Do's and Dont's</h1>
                        <span id="dos">
                            <p>Do's</p>
                            <ul class="commission-ul">
                                <li>Original Characters</li>
                                <li>Chibi!</li>
                                <li>Anime Characters</li>
                                <li>Game Characters</li>
                                <li>Fanarts</li>
                                <li>Emotes</li>
                            </ul>
                        </span>

                        <span id="donts">
                            <p>Dont's</p>

                            <ul class="commission-ul">
                                <li>Mecha</li>
                                <li>NSFW</li>
                                <li>Realistic Art</li>                                        <li>Vexel Art</li>
                            </ul>
                        </span>
                    </div>
                    <div class="box">
                        Hello 4!
                    </div>
                </div>
            </div>

            <footer class="footer">
                <p class="icons">
                    <a href="https://www.twitter.com/shuwachii"><i id="icon-twitter" class="fab fa-twitter icon fa-lg"></i></a>
                    <a href="https://www.instagram.com/shuwachii"><i id="icon-instagram" class="fab fa-instagram icon fa-lg"></i></a>
                    <a href="https://www.facebook.com/shuwachii"><i id="icon-facebook" class="fab fa-facebook icon fa-lg"></i></a>
                    <a href="https://twitch.tv/shuwachii"><i id="icon-twitch" class="fab fa-twitch icon fa-lg"></i></a>
                    <span class="footerCopyright">&copy Shuwachii</span>
                </p>
            </footer>
        </div>
    </body>
</html>