#icons {
    margin-top:25px;
}

.icon {
    color:white;
    margin-left:10px;
    margin-right:10px;
    transition-duration:0.2s;
}

.icon:hover {
    transition-duration:0.2s;
}

#icon-twitter:hover {
    color:rgb(29,161,242);
}

#icon-instagram:hover {
    color:rgb(200,61,142);
}

#icon-facebook:hover {
    color:rgb(29,195,247);
}

#icon-twitch:hover {
    color:rgb(145, 70, 225);
}